<template>
  <div class="text-display">
      <p v-for="text in display" :key="text">{{ text }}</p>
  </div>
</template>
<script>
export default {
    name:'Display',
    data(){
        return {
            display:[],
        }
    },
    
}
</script>
<style>
.text-display{
    position: absolute;
    bottom: 10px;
}
</style>

