<template>
    <div class="row data-input">
        <div class="col s10 white-text">
            <input type="text" v-model="command" @keydown.enter="scanCommand">
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light" type="button" name="action" @click="scanCommand">
                Go!
                <i class="material-icons right">send</i>
            </button>
        </div>
  </div>
</template>
<script>
export default {
  name:"input-app",
  data(){
      return {
          command:"",
      }
  },
  methods:{
    scanCommand:function(){
        let command=this.command;
        this.command="";
        if(command.indexOf(";")==-1){
            return alert('Comando invalido');
        }else{
            command=command.replace(";","");
        }
        console.log(command);
        let instruccions=command.split(" ");
        switch(instruccions[0].toLowerCase()){
            case "set":
                this.$parent.setConj(instruccions);
                break;
            case "sets":
                this.$parent.fastView();
                break;
            case "showsets":
                this.$parent.viewConj();
                break;
            case "union":
                this.$parent.unionConj(instruccions);
                break;
            case "intersect":
                this.$parent.intersectConj(instruccions);
                break;
            case "setunion":
                this.$parent.newByUnion(instruccions);
                break;
            case "setintersect":
                this.$parent.newByIntersect(instruccions);
                break;
            case "showset":
                this.$parent.viewSet(instruccions);
                break;
            case "clean":
                this.$parent.cleanDisplay();
                break;
            default:
                alert('Comando no encontrado');
                break;
        }
    }
  }
}
</script>
<style>
.data-input{
    margin: 0px;
    color: whitesmoke;
}
</style>
