<template>
  <div id="app" class="container">
    <div class="card blue lighten-5 blue-text">
      <h4>Calculadora de conjuntos</h4>
    </div>
    <div class="card-panel blue lighten-3 display">
      <display-app ref="display"></display-app>
    </div>
    <div class="card-panel blue lighten-2 input">
      <input-app></input-app>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return {
      sets:{}
    }
  },
  methods:{
    updateSets:function(){
      var data=this.sets;
      console.log("val: "+JSON.stringify(data));
      window.localStorage.setItem("sets",JSON.stringify(data));
    },
    setConj:function(instruccions){
      let indexName=instruccions[1].indexOf(":");
      let name=instruccions[1].substring(0,indexName);
      console.log("Nombre="+name);
      let indexDataStart=instruccions[1].indexOf("{");
      let indexDataEnd=instruccions[1].indexOf("}");
      let data=instruccions[1].substring(indexDataStart+1,indexDataEnd);
      console.log("Datos: "+data);
      data=data.split(",");
      data=data.filter(function(item, pos) {
        return data.indexOf(item) == pos;
      });
      this.sets[name]=data;
      this.updateSets();
      this.$refs.display.display.push('Conjunto '+name+' guardado.');
    },
    fastView:function(){
      let text="Conjuntos: ";
      // this.sets.forEach((v,k) => {
      //   text+=k+", ";
      // });
      for (const key in this.sets) {
        text+=key+", ";
      }
      this.$refs.display.display.push(text);
    },
    viewConj:function(){
      let text="Conjuntos: ";
      this.$refs.display.display.push("...:: Conjuntos ::...");
      for (const key in this.sets) {
        text=key+":={"+this.sets[key]+"}";
        this.$refs.display.display.push(text);
      }
      
    },
    unionConj:function(instruccions){
      let item1=this.sets[instruccions[1]];
      let item2=this.sets[instruccions[2]];
      if(item1 && item2){
        let itemUn=item1.concat(item2);
        itemUn=itemUn.filter(function(item, pos) {
          return itemUn.indexOf(item) == pos;
        });
        this.$refs.display.display.push(instruccions[1]+" u "+instruccions[2]+":={"+itemUn+"}");
        return itemUn;
      }
      else{
        this.$refs.display.display.push("Uno de los conjuntos no existe!");
        return false;
      }
    },
    intersectConj:function(instruccions){
      let item1=this.sets[instruccions[1]];
      let item2=this.sets[instruccions[2]];
      if(item1 && item2){
        let itemUn=item1.concat(item2);
        itemUn=itemUn.filter(function(item, pos) {
          return itemUn.indexOf(item) != pos;
        });
        this.$refs.display.display.push(instruccions[1]+" y "+instruccions[2]+":={"+itemUn+"}");
        return itemUn;
      }
      else{
        this.$refs.display.display.push("Uno de los conjuntos no existe!");
        return false;
      }
    },
    newByUnion:function(instruccions){
      let name=instruccions[1];
      instruccions[1]=instruccions[2];
      instruccions[2]=instruccions[3];
      let data=this.unionConj(instruccions);
      this.sets[name]=data;
      this.updateSets();
      this.$refs.display.display.push('Conjunto '+name+' guardado.');
    },
    newByIntersect:function(instruccions){
      let name=instruccions[1];
      instruccions[1]=instruccions[2];
      instruccions[2]=instruccions[3];
      let data=this.intersectConj(instruccions);
      this.sets[name]=data;
      this.updateSets();
      this.$refs.display.display.push('Conjunto '+name+' guardado.');
    },
    viewSet:function(instruccions){
      if(this.sets[instruccions[1]]){
        this.$refs.display.display.push(instruccions[1]+":={"+this.sets[instruccions[1]]+"}");
      }
      else{
        this.$refs.display.display.push("Conjunto "+instruccions[1]+" no existe.");
      }
    },
    cleanDisplay:function(){
      this.$refs.display.display=[];
    }
  },
  mounted(){
    if(window.localStorage.sets){
      this.sets=JSON.parse(window.localStorage.sets);
    }
  }
}
</script>
<style>
.display{
  position: relative;
  min-height: 60vh;
  overflow-y: auto;
}
</style>
